<a href="@Url.Action("GioHang","Giohang")" style="color: white; font-weight: bold;">
    <img src="~/images/shopping-cart-orange.png" width="20" /> @ViewBag.Tongsoluong sản phẩm - @ViewBag.Tongtien VNĐ
</a>