@model IEnumerable<TH_CNPMNC.Models.SACH>
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red">SÁCH THEO CHỦ ĐỀ</h3>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "Bookstore", new { id = sach.Masach })">
                    <img alt="@sach.Tensach" src="~/images/@sach.Hinhminhhoa" width="220" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sach.Tensach
                        </h4>
                    </div>
                    <div class="rattings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>
