
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đã đăng xuất khỏi quản trị hệ thống</h2>
<p style="text-align:center">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "BookStore")<a> --- </a>@Html.ActionLink("ĐĂNG NHẬP LẠI", "Login", "Admin")
</p>

